body {
  background-color: #eef0e5;
  font-family: "Pontano Sans", sans-serif;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 60px rgba(63, 50, 95, 0.08);
  border-radius: 15px;
}
header {
  border-bottom: 1px solid #eef0e5;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #eef0e5;
  border: none;
  border-radius: 6px;
  width: 78%;
  padding: 15px 20px;
  font-size: 16px;
}
.search-form-button {
  background: #87a922;
  padding: 14px;
  border: none;
  border-radius: 6px;
  margin-left: 5px;
  padding: 15px 30px;
  color: white;
  font-size: 16px;
}
main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 15px;
  line-height: 22px;
  color: rgba(39, 33, 66, 0.4);
}
.weather-app-details strong {
  color: #ec8305;
}
.weather-app-icon {
  width: 76px;
  height: 76px;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-temperature {
  font-size: 76px;
  line-height: 76px;
  font-weight: bold;
  margin-left: 15px;
}
.weather-app-unit {
  margin-top: 15px;
  font-size: 28px;
}
a {
  color: #87a922;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 5px;
}
.weather-forecast-icon {
  font-size: 25px;
  text-align: center;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #ec8305;
  display: flex;
  margin-top: 5px;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 7px;
}
footer {
  border-top: 1px solid #eef0e5;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
